@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	line-height: 1.5;
	font-family: var(--font-mavenPro);
	color: theme("colors.gray-400");
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	box-sizing: content-box;
}

html[class="dark"] {
	--bg: theme("colors.gray-800");
	--heading-color: theme("colors.gray-50");
	--text-color: theme("colors.gray-50");
}


html[class="light"] {
	--bg: theme("colors.gray-50");
	--heading-color: theme("colors.gray-800");
	--text-color: theme("colors.gray-800"); 
}

html {
	background-color: var(--bg);
}

h1, h2, h3, h4, path, button {
	color: var(--heading-color);
	line-height: 1.25;
}

h1 {
	font-size: theme("fontSize.h1");
}

h2 {
	font-size: theme("fontSize.h2");
}

h3 {
	font-size: theme("fontSize.h3");
}

p, span, a, li, input, button, label, select, option, textarea {
	font-size: theme("fontSize.body");
	color: var(--text-color);
}

span {
	color: inherit;
}

.progress-bar {
  height: 2px;
  background: var(--text-color);
  transform-origin: 0%;
}

input, textarea {
	background-color: transparent;
	border: 1px solid theme("colors.gray-700");
	border-left: 0;
	border-right: 0;
	border-top: 0;
	padding: 0.5rem;
	color: var(--heading-color)
}

input:focus, textarea:focus {
	outline: none;
	border-color: theme("colors.primary-main");
}