@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	line-height: 1.5;
	font-family: var(--font-mavenPro);
	text-underline-offset: 4px;
	color: theme("colors.gray-400");
	transition: color 0.1s ease-in-out, background-color 0.2s ease-in-out;
	box-sizing: content-box;
}

html[class="dark"] {
	--bg: theme("colors.dark-theme-background");
	--heading-color: theme("colors.primary-color-dark-theme-text");
	--text-color: theme("colors.opacity-color-dark-theme-text");
	--text-color-bold: theme("colors.primary-color-dark-theme-text");
	--text-hover-link: theme("colors.primary-color-300");
}


html[class="light"] {
	--bg: theme("colors.white-theme-background");
	--heading-color: theme("colors.primary-color-white-theme-text");
	--text-color: theme("colors.opacity-color-white-theme-text");
	--text-color-bold: theme("colors.primary-color-white-theme-text");
	--text-hover-link: theme("colors.primary-color-800");
}

html {
	background-color: var(--bg);
}

h1, h2, h3, h4, path, button {
	color: var(--heading-color);
	line-height: 1.25;
}

h1 {
	font-size: theme("fontSize.h1");
}

h2 {
	font-size: theme("fontSize.h2");
}

h3 {
	font-size: theme("fontSize.h3");
}

h4 {
	font-size: theme("fontSize.h4");
}

 p, u, span, li, input, button, label, select, option, textarea {
	font-size: theme("fontSize.body");
	color: var(--text-color);
}

b, a {
	font-size: theme("fontSize.body");
	color: var(--text-color-bold);
	font-weight: bold;
}

span {
	color: inherit;
}

.progress-bar {
  height: 2px;
  background: var(--text-color);
  transform-origin: 0%;
}

input, textarea {
	background-color: transparent;
	border: 1px solid theme("colors.gray-700");
	border-left: 0;
	border-right: 0;
	border-top: 0;
	padding: 0.5rem;
	color: var(--heading-color)
}

a:hover {
	transition: color 0.1s ease-in-out;
	color: var(--text-hover-link);
}

input:focus, textarea:focus {
	outline: none;
	border-color: theme("colors.primary-color-600");
}

 /* change scroll bars layout */

*::-webkit-scrollbar{
	width:0.01px;
	background-color: var(--bg);
}

*::-webkit-scrollbar-thumb{
	background-color: var(--bg);
}

 /* sections position */

.alter-section:nth-child(even) {
	flex-direction: row-reverse;
	@media (max-width: 984px) {
		flex-direction: column-reverse;
	}
}